/*---------------------------------------------------------------------*/
/*------------------------ LAYER DEFINITION ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Reset, Defaults, Home, Single, Blog, Transitions;



/*---------------------------------------------------------------------*/
/*--------------------------- Layer - Reset ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Reset {
    /* Reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin-block: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: var(--line-height__body);
        font-size: var(--font-size__body);
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    input,
    label {
        line-height: var(--line-height__title);
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /* Apply parent style to child spans */
    :is(h1, h2, h3, h4, h5, h6)>span {
        font-size: inherit;
        line-height: inherit;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- Layer - Defaults --------------------------*/
/*---------------------------------------------------------------------*/
@layer Defaults {
    :root {
        /* Fonts */
        --font-size__small: 0.8rem;
        --font-size__body: 1rem;
        --font-size__h1: 3.815rem;
        --font-size__h2: 2.441rem;
        --font-size__h3: 1.563rem;
        --line-height__body: 1.6;
        --line-height__title: 1.1;
        --letter-spacing__body: -0.02em;
        --font-weight__body: 500;
        --font-weight__title: 800;

        /* Colors */
        --white: #ffffff;
        --gray-1: #F3F3F3;
        --gray-2: #E1E1E1;
        --gray-3: #4E4747;
        --gray-4: #171616;
        --acent-light: #FEC999;
        --accent: #F94402;
        --accent-dark: #900900;

        /* spacing */
        --ratio: 1.25;
        --s-4: calc(var(--s-3) / var(--ratio));
        --s-3: calc(var(--s-2) / var(--ratio));
        --s-2: calc(var(--s-1) / var(--ratio));
        --s-1: calc(var(--s0) / var(--ratio));
        --s0: 32px;
        --s1: calc(var(--s0) * var(--ratio));
        --s2: calc(var(--s1) * var(--ratio));
        --s3: calc(var(--s2) * var(--ratio));
        --s4: calc(var(--s3) * var(--ratio));
    }

    /* font */
    @font-face {
        font-family: 'Switzer-Variable';
        src: url('/fonts/Switzer/Switzer-Variable.woff2') format('woff2'),
            url('/fonts/Switzer/Switzer-Variable.woff') format('woff');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }
    * {
        font-family: 'Switzer-Variable', system-ui, sans-serif;
    }

    /* Titres */
    h1 {
        font-size: var(--font-size__h1);
    }
    h2 {
        font-size: var(--font-size__h2);
    }
    h3 {
        font-size: var(--font-size__h3);
    }
    h4 {
        font-size: var(--font-size__h4);
    }
    :is(h1, h2, h3, h4, h5, h6) {
        color: var(--gray-4);
    }

    /* Body */
    body {
        background-color: var(--white);
        padding: var(--s0);
        margin: 0;
    }

    /* Liens */
    a:has(>*) {
        text-decoration: none;
    }

    /* Grille principale */
    main {
        display: grid;
        grid-template-rows:
            [first] 1fr [second] 1fr [third] 1fr [last] 1fr;
        grid-template-columns:
            [left-gutter] 5rem [aside] 35rem [text-overflow] 15rem [text] 2fr [right-gutter] 10rem;
        gap: var(--s0);
        height: 100%;
        width: 100%;
    }

    /* Elements deplacables */
    *:has(>.draggable) {
        position: relative;
    }
    .draggable {
        position: absolute;
        user-select: none;
        cursor: move;

        &>* {
            pointer-events: none;
        }

        &::before {
            content: url(/icons/move.svg);
            display: block;
            position: absolute;
            right: var(--s-4);
            top: calc(-1 * var(--s-4));
            background: var(--gray-1);
            border: solid 1px var(--gray-2);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}


/*---------------------------------------------------------------------*/
/*--------------------------- LAYER - Home ----------------------------*/
/*---------------------------------------------------------------------*/
@layer Home {
    body:has(#home) {
        overflow: hidden;
    }

    #home {
        background-image: radial-gradient(var(--gray-1) 1px, transparent 0);
        background-size: var(--s-2) var(--s-2) !important;
        background-repeat: repeat !important;
        border: solid 1px var(--gray-2);

        & #nav {
            grid-column: text;
            grid-row: 2;
            position: relative;
            z-index: 2;
            width: fit-content;
            height: fit-content;

            & * {
                width: fit-content;
            }

            & .nav__list {
                list-style: none;
                display: flex;
                gap: var(--s0);
                padding-inline-start: var(--s-2);
                margin: 0;
            }
        }

        & #home-content {
            grid-column: text;
            grid-row: 3;
            position: relative;
            z-index: 2;
            background-color: var(--white);
            padding: var(--s-2);
            width: fit-content;

            & > * {
                max-inline-size: 66ch;
            }
        }

        & #canvas {
            background-color: var(--accent);
            border: solid 1px var(--gray-3);
            bottom: var(--s4);
            left: var(--s4);
            height: 66vh;
            width: 25vw;
            z-index: 1;
        }
    }
}



/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Blog -------------------------*/
/*---------------------------------------------------------------------*/
@layer Blog {
    .post img {
        max-height: var(--s4);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}



/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Single -------------------------*/
/*---------------------------------------------------------------------*/
@layer Single {
    .single-content p {
        max-inline-size: 75ch;
    }
    
    .single-content,
    .blog-posts {
        grid-column: text;
    }

    .single-content>*+* {
        margin-block-start: 1rem;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- LAYER - Transitions -----------------------*/
/*---------------------------------------------------------------------*/
@layer Transitions {
    /* :root {
        --transfromStartSlideIn: translateY(-100%); 
        --transfromEndSlideIn: translateY(0%);

        --transfromStartSlideOut: translateY(0); 
        --transfromEndSlideOut: translateY(100%);
    } 

    @view-transition {
        navigation: auto;
    }

    @keyframes slide-in {
        0% {
            transform: var(--transfromStartSlideIn);
        }
    
        100% {
            transform: var(--transfromEndSlideIn);
        }
    }

    @keyframes slide-out {
        0% {
            transform: var(--transfromStartSlideOut);
        }
    
        100% {
            transform: var(--transfromEndSlideOut);
        }
    } */


    /* :root {
        --transfromStartSlideIn: translateX(-100%);
        --transfromEndSlideIn: translateX(0%);
    }
    body {
        background-color: lemonchiffon;
    } */


    /* ::view-transition-old(root) {
        animation: slide-out 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
    
    ::view-transition-new(root) {
        animation: slide-in 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }*/
}