/*---------------------------------------------------------------------*/
/*------------------------ LAYER DEFINITION ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Reset, Defaults, Home, Single, Projets, Transitions, ThreeD;



/*---------------------------------------------------------------------*/
/*-------------------------- Layer - Reset ----------------------------*/
/*---------------------------------------------------------------------*/
@layer Defaults {
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        font-style: italic;
    }

    * {
        box-sizing: border-box;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------ LAYER - Defaults ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Defaults {
    :root {
        /* Fonts */
        --font-size__small: 0.75rem;
        --font-size__body: 1rem;
        --font-size__big: 1.5rem;
        --font-size__h1: 5.61rem;
        --font-size__h2: 4.209rem;
        --font-size__h3: 3.157rem;
        --font-size__h4: 2.369rem;
        --line-height__body: 1.6;
        --line-height__title: 1.1;
        --letter-spacing__body: -0.02em;
        --font-weight__body: 500;
        --font-weight__title: 800;

        /* Colors */
        --white: #ffffff;
        --gray-1: #f8f9fa;
        --gray-2: #eaeced;
        --gray-3: #868e96;
        --gray-4: #49505d;
        --gray-5: #212529;
        --acent-light: #96f2d7;
        --accent: #0ca678;
        --accent-dark: #087f5b;
        --succes: #37b24d;
        --alert: #f78507;
        --error: #f03e3e; 

        /* spacing */
        --ratio: var(--line-height__body);
        --s-4: calc(var(--s-3) / var(--ratio));
        --s-3: calc(var(--s-2) / var(--ratio));
        --s-2: calc(var(--s-1) / var(--ratio));
        --s-1 : calc(var(--s0) / var(--ratio));
        --s0 : 1rem;
        --s1: calc(var(--s0) * var(--ratio));
        --s2: calc(var(--s1) * var(--ratio));
        --s3: calc(var(--s2) * var(--ratio));
        --s4: calc(var(--s3) * var(--ratio));
    }

    /* @font-face {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        src: ;
    } */

    /* font */
    * {
        font-family: 'Inter', system-ui, sans-serif;
        text-wrap: pretty;
        line-height: var(--line-height__body);
        font-size: var(--font-size__body);
    }
    html {
        font-size: 16px;
    }

    /* Titles */
    :is(h1, h2, h3, h4, h5, h6) {
        line-height: var(--line-height__title);
        color: var(--gray-5);
    }
    h1 {
        font-size: var(--font-size__h1);
    }
    h2 {
        font-size: var(--font-size__h2);
    }
    h3 {
        font-size: var(--font-size__h3);
    }
    h4 {
        font-size: var(--font-size__h4);
    }
    h5 {
        font-size: var(--font-size__h5);
    }
    h6 {
        font-size: var(--font-size__h6);
    }

    /* Couleurs */
    body {
        background-color: var(--white);
        padding: var(--s0);
    }

    /* grille principale */
    main {
        display: grid;
        grid-template-rows: 
            [first] 1fr 
            [second] 1fr 
            [third] 1fr 
            [last] 1fr;
        grid-template-columns: 
            [left-gutter] 5rem 
            [aside] 35rem 
            [text-overflow] 15rem 
            [text] 2fr
            [right-gutter] 10rem;
        gap: var(--s0);
        height: 100%;
        width: 100%;
    }

    /* classes utilitaires */
    .margin-inline-start-s0 {
        margin-inline-start: var(--s0);
    }
    .margin-inline-end-s0 {
        margin-inline-end: var(--s0);
    }

}



/*---------------------------------------------------------------------*/
/*--------------------------- LAYER - Home ----------------------------*/
/*---------------------------------------------------------------------*/
@layer Home {
    #home {
        overflow: hidden;
    }

    #home-content {
        grid-column: aside / span 3;
        grid-row: first;
        display: grid;
        grid-template-columns: subgrid;

        & .home-content__name {
            grid-column: aside / span 3;

            & * {
                display: inline-block;
            }
    
            & .home-content__name--title {
                gap: var(--s0);

                & * {
                    display: inline-block;
                    font-size: calc(var(--ratio) * var(--font-size__h1));
                    line-height: var(--line-height__title);
                }

                & .home-content__name--bracket {
                    color: var(--accent);
                    font-size: calc(var(--ratio) * var(--font-size__h1));
                    line-height: var(--line-height__title);   
                    font-weight: var(--font-weight__body);
                }

                & .home-content__name--nom {
                    color: var(--gray-2);
                }
            }
        }

        & .home-content__text {
            grid-column: aside;
            font-size: var(--font-size__big);
        }
    }

    #nav {
        grid-column: right-gutter;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;

        & .nav__container {
            grid-row: 1 / -1;
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }

        & .nav__list {
            grid-row: 1 / -1;
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;

            & .nav__item--link {
                display: block;
                color: var(--gray-5);
                font-size: var(--font-size__big);
                text-align: end;
            }
        }
    }

    #canvas {
        grid-column: text;
        grid-row: second / -1;
    }

    #bg-text {
        position: relative;
        grid-column: 1 / -1;
        grid-row: second;
        pointer-events: none;
        display: flex;
        justify-content: center;
        z-index: -1;
        user-select: none;

        & * {
            font-size: calc(3.5* var(--font-size__h1));
            font-weight: var(--font-weight__title);
            line-height: var(--line-height__title);
            color: var(--gray-1);
            position: absolute;
            top: 0;
        }
    }
}



/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Single -------------------------*/
/*---------------------------------------------------------------------*/
@layer Transitions {
    .single-content, .blog-posts {
        grid-column: text;
    }
    .single-content > * + * {
        margin-block-start: 1rem;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- LAYER - Transitions -----------------------*/
/*---------------------------------------------------------------------*/
@layer Transitions {
<<<<<<< HEAD

    /* :root {
        --transfromStartSlideIn: translateY(-100%); 
        --transfromEndSlideIn: translateY(0%);

        --transfromStartSlideOut: translateY(0); 
        --transfromEndSlideOut: translateY(100%);
    } 

=======
>>>>>>> dd02e3903a89ed79e5d7d18b0bf31efba6bbf550
    @view-transition {
        navigation: auto;
    }

    @keyframes slide-in {
        0% {
            transform: var(--transfromStartSlideIn);
        }
    
        100% {
            transform: var(--transfromEndSlideIn);
        }
    }

    @keyframes slide-out {
        0% {
            transform: var(--transfromStartSlideOut);
        }
    
        100% {
            transform: var(--transfromEndSlideOut);
        }
<<<<<<< HEAD
    } */


    /* :root {
        --transfromStartSlideIn: translateX(-100%);
        --transfromEndSlideIn: translateX(0%);
    }
    body {
        background-color: lemonchiffon;
    } */


    /* ::view-transition-old(root) {
        animation: slide-out 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
    
    ::view-transition-new(root) {
        animation: slide-in 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }*/
} 
=======
    }
}
>>>>>>> dd02e3903a89ed79e5d7d18b0bf31efba6bbf550



/*---------------------------------------------------------------------*/
/*----------------------------- LAYER - 3D ----------------------------*/
/*---------------------------------------------------------------------*/
@layer ThreeD {
    #canvas {
        background-color: var(--gray-1);   
    }
}