{{ define "main" }}
<main id="home" class="stack">
  {{ partial "header.html" . }}
  {{ partial "navigation.html" . }}
  <section class="main-grid grow-2">
    <div class="flex-end flex-column">
      <button class="faces">
        <span class="visibility-hidden">Cliquer pour découvrir un effet visuel</span>
        <div class="faces--imgs">
          <span class="visibility-hidden">Une collection de photo peu avantageuse</span>
          <img src="/images/tete_1-64x.jpg" alt="" width="64" class="activeImg">
          <img src="/images/tete_2-64x.jpg" alt="" width="64">
          <img src="/images/tete_3-64x.jpg" alt="" width="64">
          <img src="/images/tete_4-64x.jpg" alt="" width="64">
          <img src="/images/tete_5-64x.jpg" alt="" width="64">
          <img src="/images/tete_6-64x.jpg" alt="" width="64">
          <img src="/images/tete_7-64x.jpg" alt="" width="64">
          <img src="/images/tete_8-64x.jpg" alt="" width="64">
          <img src="/images/tete_9-64x.jpg" alt="" width="64">
          <img src="/images/tete_10-64x.jpg" alt="" width="64">
          <img src="/images/tete_11-64x.jpg" alt="" width="64">
          <img src="/images/tete_12-64x.jpg" alt="" width="64">
        </div>
        <span  class="faces--eyes">👀</span>
      </button>
    </div>
    <div class="flex-end z1">
      <div class="stack">
        {{ range ( where .Site.RegularPages.Reverse "Type" "blog" | first 3 ) }}
        {{ partial "articles.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
  <!-- {{ partial "additionnalScripts.html" . }} -->
</main>

{{ end }}