{{ define "main" }}
<!-- Model -->
<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@v0.173.0/build/three.module.js",
               "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.173.0/examples/jsm/"
    }
  }
</script>
<script type="module" src="/js/model.js"></script>
<script type="text/javascript" src="/js/draggable.js"></script>

<!-- Contenu -->
<main id="home">
  {{ .Content }}
  <section id="canvas" class="draggable"></section>
  <section id="home-content" class="stack-s0 grid-area--text">   
    <div class="home-content__name">
      <h1 class="home-content__name--title">
        <span class="home-content__name--prenom">Antoine</span>
        <span class="home-content__name--bracket"> [</span>
        <span class="home-content__name--nom">Moreau</span>
        <span class="home-content__name--bracket">]</span>
      </h1>
    </div> 
    <p class="home-content__text">On fait ce qu'on peut, on fait de son mieux. Si vous avez besoin d'un site, peux-être que je suis en mesure de vous aider.</p>
    <p class="home-content__text">Ou pas ? <a href="/Info.html">On verra bien</a></p>
  </section>
  <section id="nav">
    {{ partial "nav.html" . }}
  </section>
</main>
{{ end }}