{{ define "main" }}
<main id="home" class="main-grid">
  <!-- <section id="canvas" class="draggable"></section> -->
  <section id="home-content">
    {{ partial "nav.html" . }}  
    <div class="home-introduction">
      <div class="draggable">
        <h1>Antoine Moreau</h1>
        <p>On fait ce qu'on peut, on fait de son mieux. Si vous avez besoin d'un site, peux-être que je suis en mesure de vous aider.</p>
        <p>Ou pas ? <a href="/Info.html">On verra bien</a></p>
      </div>
    </div> 
    {{ .Content }}
  </section>
</main>
{{ end }}