{{ define "main" }}
<main id="info" class="stack">
    {{ partial "header.html" . }}
    <section class="content main-grid grow-1 info">
        <div class="stack info--left">
            <div class="stack info--category">
                <h2 class="info--group__title">Etudes et expériences</h2>
                <article class="info--group">
                    <div class="info--group__details">
                        <p><strong>Référent technique</strong> et <strong>Webdesigner Senior</strong> à Solocal</p>
                        <p>Angoulême (16)</p>
                        <p class="monospace">2022 à aujourd'hui</p>
                    </div>
                </article>
                <article class="info--group">
                    <div class="info--group__details">
                        <strong>Webdesigner</strong> à Solocal
                        <p>Angoulême (16)</p>
                        <p class="monospace">2019 à 2022</p>
                    </div>
                </article>
                <article class="info--group">
                    <div class="info--group__details">
                        <p><strong>License Informatique</strong> et <strong>Baccalauréat avec Majeur en conception de
                                jeux vidéo. </strong></p>
                        <p>Faculté des Sciences et Techniques de Limoges & Université du Québec À Chicoutimi
                            Limoges (France) & Chicoutimi (Canada)</p>
                        <p class="monospace">2015 à 2017</p>
                    </div>
                </article>
                <article class="info--group">
                    <div class="info--group__details">
                        <p><strong>Diplôme universitaire de Technologie Métiers du Multimédia et de l’Internet</strong>
                        </p>
                        <p>UT du Limousin
                            Limoges (87)</p>
                        <p class="monospace">2013 à 2015</p>
                    </div>
                </article>
            </div>
            <div class="stack info--category">
                <h2 class="info--group__title">Hobbies</h2>
                <article class="info--group">
                    <div class="post__tags">
                        <span class="post__tags--tag">Webdev</span>
                        <span class="post__tags--tag">JDR</span>
                        <span class="post__tags--tag">GameDev</span>
                        <span class="post__tags--tag">Escalade</span>
                        <span class="post__tags--tag">Jeu vidéo</span>
                        <span class="post__tags--tag">Photographie</span>
                    </div>
                </article>
            </div>
            <div class="stack info--category">
                <h2 class="info--group__title">Groupes du moment</h2>
                <article class="info--group">
                    <div class="info--group__details">
                        <p><strong>Wet Leg</strong> - <a href="https://wetlegband.com/"
                                target="_blank">https://wetlegband.com/</a></p>
                        <p><strong>Viagra Boys</strong> - <a href="https://www.vboysstockholm.com/"
                                target="_blank">https://www.vboysstockholm.com/</a></p>
                        <p><strong>Idles</strong> - <a href="https://www.idlesband.com/"
                                target="_blank">https://www.idlesband.com/</a></p>
                        <p><strong>KGLW</strong> - <a href="https://wetlegband.com/"
                                target="_blank">https://kinggizzardandthelizardwizard.com/</a></p>
                    </div>
                </article>
            </div>
            <div class="stack info--category">
                <h2 class="info--group__title">PC</h2>
                <article class="info--group">
                    <div class="info--group__details monospace">
                        <p>ASRock B760 Pro RS/D4</p>
                        <p>Processeur Intel(R) Core(TM) i5-14600KF, 3500 MHz</p>
                        <p>NVIDIA GeForce RTX 2070</p>
                        <p>Corsair Vengeance LPX 16GB 3200MHz</p>
                    </div>
                </article>
            </div>
            <div class="stack info--category">
                <h2 class="info--group__title">Photographie</h2>
                <article class="info--group">
                    <div class="info--group__details monospace">
                        <p>Olympus OM-D E-M1 Mark III</p>
                        <p>Olympus 17mm 1:1.8</p>
                        <p>Olympus Digital 40-150mm 1:4-5.6</p>
                    </div>
                </article>
            </div>
            <div class="stack info--category">
                <article class="info--group">
                    <div class="info--group__details small">
                        <p>Vous avez remarqué que je liste n'importe quoi pour avoir du contenu à mettre en page ?</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="info--right stack">
            <div class="stack info--intro">
                <div>
                    <strong>Interessé par presque tout, expert en presque rien.</strong>
                    <p>Je marmonne plus que je ne parle. Vous pouvez me contacter si le coeur vous en dit.</p>
                </div>
                <div>
                    <p>Codepen - <a href="https://codepen.io/your-work">codepen.io</a></p>
                    <p>Linkedin - <a href="">soon<sup>Tm</sup></a></p>
                </div>
            </div>
        </div>
    </section>
    {{ partial "footer.html" . }}
</main>
{{ end }}