/*------------------------------- RESET -------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------*/

@font-face {
    font-family: 'Bandeins-Strange';
    src: url('/font/Bandeins-Strange.woff2') format('woff2');
    font-weight: 300 700;
}

:root {
    --ft-width: 100;
    --ft-weight: 300;
}

* {
    font-variation-settings:
        "wdth" var(--ft-width),
        "wght" var(--ft-weight);
    font-family: 'Bandeins-Strange', system-ui, sans-serif;
}

body {
    height: calc(100vh - 4rem);
    width: calc(100vw - 4rem);
    overflow: hidden;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 3.5fr 3.5fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 2rem;

    border: solid 1px gray;
    margin: 2rem;
    font-size: 1.2rem;
}

h1 {
    --ft-width: 1000;
    line-height: .8;
    font-size: 15rem;
    transition: ease 1s;


    grid-row: 3;
    grid-column: 1;

    &:hover {
        --ft-weight: 700;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;

    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
}

.home-nav {
    grid-column: 4;
    grid-row: 3;

    & ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}