/*---------------------------------------------------------------------*/
/*------------------------ LAYER DEFINITION ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Reset, Defaults, Home, Single, Blog, Transitions, ThreeD;



/*---------------------------------------------------------------------*/
/*--------------------------- Layer - Reset ---------------------------*/
/*---------------------------------------------------------------------*/
@layer Reset {
    /* Reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin-block: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: var(--line-height__body);
        font-size: var(--font-size__body);
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    input,
    label {
        line-height: var(--line-height__title);
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /* Apply parent style to child spans */
    :is(h1, h2, h3, h4, h5, h6)>span {
        font-size: inherit;
        line-height: inherit;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- Layer - Defaults --------------------------*/
/*---------------------------------------------------------------------*/
@layer Defaults {
    :root {
        /* Fonts */
        --font-size__small: 0.75rem;
        --font-size__body: 1rem;
        --font-size__big: 1.5rem;
        --font-size__h1: 5.61rem;
        --font-size__h2: 4.209rem;
        --font-size__h3: 3.157rem;
        --font-size__h4: 2.369rem;
        --line-height__body: 1.6;
        --line-height__title: 1.1;
        --letter-spacing__body: -0.02em;
        --font-weight__body: 500;
        --font-weight__title: 800;

        /* Colors */
        --white: #ffffff;
        --gray-1: #f8f9fa;
        --gray-2: #eaeced;
        --gray-3: #868e96;
        --gray-4: #49505d;
        --gray-5: #212529;
        --acent-light: #96f2d7;
        --accent: #0ca678;
        --accent-dark: #087f5b;
        --succes: #37b24d;
        --alert: #f78507;
        --error: #f03e3e;

        /* spacing */
        --ratio: var(--line-height__body);
        --s-4: calc(var(--s-3) / var(--ratio));
        --s-3: calc(var(--s-2) / var(--ratio));
        --s-2: calc(var(--s-1) / var(--ratio));
        --s-1: calc(var(--s0) / var(--ratio));
        --s0: 1rem;
        --s1: calc(var(--s0) * var(--ratio));
        --s2: calc(var(--s1) * var(--ratio));
        --s3: calc(var(--s2) * var(--ratio));
        --s4: calc(var(--s3) * var(--ratio));
    }

    /* font */
    @font-face {
        font-family: 'Switzer-Variable';
        src: url('/fonts/Switzer/Switzer-Variable.woff2') format('woff2'),
            url('/fonts/Switzer/Switzer-Variable.woff') format('woff');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }
    * {
        font-family: 'Switzer-Variable', system-ui, sans-serif;
    }

    /* Titres */
    h1 {
        font-size: var(--font-size__h1);
    }

    h2 {
        font-size: var(--font-size__h2);
    }

    h3 {
        font-size: var(--font-size__h3);
    }

    h4 {
        font-size: var(--font-size__h4);
    }
    :is(h1, h2, h3, h4, h5, h6) {
        color: var(--gray-5);
    }

    /* Body */
    body {
        background-color: var(--white);
        padding: var(--s0);
        font-size: 16px;
    }

    /* Liens */
    a:has(>*) {
        text-decoration: none;
    }

    /* Grille principale */
    main {
        display: grid;
        grid-template-rows:
            [first] 1fr [second] 1fr [third] 1fr [last] 1fr;
        grid-template-columns:
            [left-gutter] 5rem [aside] 35rem [text-overflow] 15rem [text] 2fr [right-gutter] 10rem;
        gap: var(--s0);
        height: 100%;
        width: 100%;
    }

    .grid-area--text {
        grid-column: text;
    }

    /* Classes générales */
    .stack-s0 > * + * {
        margin-block-start: var(--s0);
    }
    .stack-s1 > * + * {
        margin-block-start: var(--s1);
    }
    .stack-s2 > * + * {
        margin-block-start: var(--s2);
    }
    .stack-s3 > * + * {
        margin-block-start: var(--s3);
    }
}


/*---------------------------------------------------------------------*/
/*--------------------------- LAYER - Home ----------------------------*/
/*---------------------------------------------------------------------*/
@layer Home {
    #home {
        overflow: hidden;

        & #nav {
            grid-column: right-gutter;
        }
    }
}



/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Blog -------------------------*/
/*---------------------------------------------------------------------*/
@layer Blog {
    .post img {
        max-height: 333px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}



/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Single -------------------------*/
/*---------------------------------------------------------------------*/
@layer Single {
    p {
        max-inline-size: 75ch;
    }
    
    .single-content,
    .blog-posts {
        grid-column: text;
    }

    .single-content>*+* {
        margin-block-start: 1rem;
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- LAYER - Transitions -----------------------*/
/*---------------------------------------------------------------------*/
@layer Transitions {

    /* :root {
        --transfromStartSlideIn: translateY(-100%); 
        --transfromEndSlideIn: translateY(0%);

        --transfromStartSlideOut: translateY(0); 
        --transfromEndSlideOut: translateY(100%);
    } 

    @view-transition {
        navigation: auto;
    }

    @keyframes slide-in {
        0% {
            transform: var(--transfromStartSlideIn);
        }
    
        100% {
            transform: var(--transfromEndSlideIn);
        }
    }

    @keyframes slide-out {
        0% {
            transform: var(--transfromStartSlideOut);
        }
    
        100% {
            transform: var(--transfromEndSlideOut);
        }
    } */


    /* :root {
        --transfromStartSlideIn: translateX(-100%);
        --transfromEndSlideIn: translateX(0%);
    }
    body {
        background-color: lemonchiffon;
    } */


    /* ::view-transition-old(root) {
        animation: slide-out 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
    
    ::view-transition-new(root) {
        animation: slide-in 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }*/
}



/*---------------------------------------------------------------------*/
/*----------------------------- LAYER - 3D ----------------------------*/
/*---------------------------------------------------------------------*/
@layer ThreeD {
    #canvas {
        background-color: var(--gray-1);
    }
}