/*---------------------------------------------------------------------*/
/*------------------------- LAYER DEFINITION --------------------------*/
/*---------------------------------------------------------------------*/
@layer reset, layout, variables, base, home, single, blog, transitions;



/*---------------------------------------------------------------------*/
/*--------------------------- Layer - Reset ---------------------------*/
/*---------------------------------------------------------------------*/
@layer reset {

    /* Reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin-block: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role="list"],
    ol[role="list"] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        text-wrap: pretty;
        margin: 0;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    input,
    label {
        line-height: var(--line-height__title);
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /* Apply parent style to child spans */
    :is(h1, h2, h3, h4, h5, h6)>span {
        font-size: inherit;
        line-height: inherit;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}


/*---------------------------------------------------------------------*/
/*-------------------------- Layer - Layout ---------------------------*/
/*---------------------------------------------------------------------*/
@layer layout {

    /* Grille principale */
    .main-grid {
        display: grid;
        grid-template-rows:
            [top-gutter] 1fr [content] 8fr [bottom-gutter] 1fr;
        grid-template-columns:
            [left-gutter] 10rem [aside] 4fr [text] 6fr [right-gutter] 10rem;
        gap: var(--s0);
        height: 100%;
        width: 100%;
    }

    /* stack */
    .stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stack>* {
        margin-block: 0;
    }

    .stack>*+* {
        margin-block-start: var(--space, 1.5rem);
    }

    .stack:only-child {
        block-size: 100%;
    }

    /* Elements deplacables */
    *:has(>.draggable) {
        position: relative;
    }

    .draggable {
        position: absolute;
        user-select: none;
        cursor: move;
        border: solid 1px var(--gray-3);

        &>* {
            pointer-events: none;
        }

        &::before {
            content: url(/icons/move.svg);
            display: block;
            position: absolute;
            right: var(--s-4);
            top: calc(-1 * var(--s-4));
            background: var(--gray-1);
            border: solid 1px var(--gray-2);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}



/*---------------------------------------------------------------------*/
/*------------------------ Layer - Variables --------------------------*/
/*---------------------------------------------------------------------*/
@layer variables {
    :root {
        /* fonts */
        --font-size__body: clamp(1rem, -0.875rem + 4cqi, 1.25rem);
        --font-size_h1: clamp(2rem, -0.875rem + 6cqi, 3.25rem);
        --font-size_h2: clamp(1.5rem, -0.875rem + 6cqi, 2.5rem);
        --font-size_h3: clamp(1.25rem, -0.875rem + 6cqi, 1.75rem);
        --line-height__body: 1.7;
        --line-height__title: 1.1;

        /* colors */
        --off-white: #fffcfb;
        --dark-green: #2d312c;
        --gray-01: #e9ede8;
        --gray-02: #bac1b8;
        --gray-03: #3b3d3b;
        --gray-04: #151515;

        /* theme */
        --titles-color: var(--dark-green);
        --texts-color: var(--gray-04);
        --captions-color: var(--gray-03);
        --background-color: var(--off-white);
        --background-accent: var(--gray-01);
    }
}


/*---------------------------------------------------------------------*/
/*--------------------------- Layer - Base ----------------------------*/
/*---------------------------------------------------------------------*/
@layer base {
    html {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        line-height: var(--line-height__body);
        font-size: var(--font-size__body);
        background-color: var(--background-color);
        color: var(--texts-color);
    }

    h1 {
        font-size: var(--font-size_h1);
        color: var(--titles-color);
    }
    h2 {
        font-size: var(--font-size_h2);
        color: var(--titles-color);
    }
    h3 {
        font-size: var(--font-size_h3);
        color: var(--titles-color);
    }

    body {
        padding: 6rem;
    }

    /* liens */
    a[target="blank"] {
        text-decoration: none;
        box-shadow: 0 1px 0 0 currentColor;

        &::after {
            content: "↗";
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            margin-inline-start: .2rem;
        }
    }
}


/*---------------------------------------------------------------------*/
/*--------------------------- LAYER - Home ----------------------------*/
/*---------------------------------------------------------------------*/
@layer home {
    
}



/*---------------------------------------------------------------------*/
/*----------------------------- LAYER - Blog --------------------------*/
/*---------------------------------------------------------------------*/
@layer blog {
    .blog {
        --space: 2rem;
        
        & .blog-posts {
            grid-area: text;
            max-width: 65ch;

            & .post {

                & .post--tags {

                    &>* {

                    }
                }
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*---------------------------- LAYER - Single -------------------------*/
/*---------------------------------------------------------------------*/
@layer single {
    .single-content {
        grid-area: text;
        --space: 2rem;
        max-width: 65ch;

        /* texts */
        & :is(p, span) {
            font-variant-numeric: oldstyle-nums;
        }

        /* Titles */
        & h2:not(:first-child) {
            margin-block-start: 6rem;

            &::after {
                content: "";
                display: block;
                height: .5rem;
                background: currentcolor;
                width: 100%;
                margin-block-start: .5rem;
            }
        }

        & h3 {
            margin-block-start: 4rem;
            font-style: italic;
        }

        /* Anchors */
        & :is(h2, h3) {
            position: relative;

            &>a {
                text-decoration: none;
                position: relative;
            }

            &>a::before {
                content: "⩉";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -1.5ch;
                color: var(--background-accent);
                opacity: 0;
                transition: ease-in-out .1s;
            }

            &:hover>a::before {
                opacity: 1;
            }
        }

        /* Lists */
        & ol>li::marker {
            font-weight: 700;
        }

        & :is(ol, ul) {
            padding-inline-start: var(--global-list-padding, 1.75ch);

            &>li+li,
            & li>ul {
                margin-block-start: var(--global-list-flow, 0.75em);
            }
        }

        /* Quotes */
        & blockquote {
            margin-block: var(--space, 1.5rem);
            margin-inline: 0;
            padding: 2rem;
            background-color: var(--background-accent);
            border-left: solid 0.5rem currentColor;
        }

        /* Imgs */
        & figure {
            margin-inline: 0;
            width: 100%;

            & figcaption {
                color: var(--captions-color);
                margin-inline-start: .5rem;
                margin-block-start: .5rem;
                font-style: italic;
                font-size: 1rem;
                position: relative;

                &::before {
                    content: "—";
                    margin-inline-end: .5rem;
                }
            }
        }

        /* Code blocks */
        & pre {
            display: flex;
            border: solid 1px currentColor;
            border-top: solid .5em currentColor;

            & code {
                min-width: 35ch;
            }
        }

        /* Tables */
        & table {
            border: .1em solid currentColor;
            height: 100%;
            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-spacing: 1px;
            text-align: left;
            font-variant-numeric: tabular-nums;

            & thead {
                background-color: var(--background-accent);
                border-bottom: solid .25em currentColor;

                & th {
                    min-width: 15ch;
                }
            }

            & :is(tbody, thead)>tr> :is(td, th)+ :is(td, th) {
                border-left: solid 1px currentColor;
            }

            & tbody>tr+tr {
                border-top: solid 1px currentColor;
            }

            & :is(tr, td, th) {
                padding: 0.5rem;
            }

            & caption {
                color: var(--captions-color);
                margin-inline-start: .5rem;
                margin-block-end: .5rem;
                font-style: italic;
                font-size: 1rem;
                position: relative;
                text-align: start;

                &::before {
                    content: "—";
                    margin-inline-end: .5rem;
                }
            }
        }
    }
}



/*---------------------------------------------------------------------*/
/*------------------------- LAYER - Transitions -----------------------*/
/*---------------------------------------------------------------------*/
@layer transitions {
    /* :root {
        --transfromStartSlideIn: translateY(-100%); 
        --transfromEndSlideIn: translateY(0%);

        --transfromStartSlideOut: translateY(0); 
        --transfromEndSlideOut: translateY(100%);
    } 

    @view-transition {
        navigation: auto;
    }

    @keyframes slide-in {
        0% {
            transform: var(--transfromStartSlideIn);
        }
    
        100% {
            transform: var(--transfromEndSlideIn);
        }
    }

    @keyframes slide-out {
        0% {
            transform: var(--transfromStartSlideOut);
        }
    
        100% {
            transform: var(--transfromEndSlideOut);
        }
    } */


    /* :root {
        --transfromStartSlideIn: translateX(-100%);
        --transfromEndSlideIn: translateX(0%);
    }
    body {
        background-color: lemonchiffon;
    } */


    /* ::view-transition-old(root) {
        animation: slide-out 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
    
    ::view-transition-new(root) {
        animation: slide-in 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }*/
}