<title>{{ .Title }}</title>
<link rel="stylesheet" href="/css/main.css">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

<!-- Model -->
<script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.173.0/build/three.module.js",
                    "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.173.0/examples/jsm/"
        }
    }
</script>
<!-- <script type="module" src="/js/model.js"></script> -->
 
<script type="text/javascript" src="/js/draggable.js"></script>