<title>{{ .Title }}</title>
<link rel="stylesheet" href="/css/main.css">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<script type="text/javascript" src="/js/themeSwitcher.js"></script>
<script defer type="text/javascript" src="/js/lightbox.js"></script>
<!-- Model -->
<script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.173.0/build/three.module.js",
                    "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.173.0/examples/jsm/"
        }
    }
</script>